@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather+Sans:wght@400;700&display=swap");

body {
    font-family: 'Lato', sans-serif !important;
    color: #040000;
}

.topbar span {
    color: white;

}

.topbar i {
    color: #CAF4FF;
}

header {
    background-color: #d1e3ff;
}

header .detail-box {
    margin-top: 32px;
    padding-bottom: 90px;
}

header .detail-box h1 {
    font-weight: bold;
    margin-bottom: 16px;
    color: #0355cc;
    text-transform: uppercase;
}

header .detail-box h2 {
    margin-bottom: 25px;
}

header .detail-box p {
    color: #444;
    font-size: 16px;
}

header .header-image img {
    width: 100%;
}

.feature_section {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.feature_section .feature_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.feature_section .feature_container .box {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    padding: 45px 15px;
    background-color: #ffffff;
    color: #0355cc;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.feature_section .feature_container .box .img-box {
    width: 90px;
    height: 90px;
}

.feature_section .feature_container .box .img-box svg {
    width: 100%;
    height: auto;
    max-height: 100%;
    fill: #0355cc;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.feature_section .feature_container .box .img-box svg path {
    fill: #0355cc;
}

.feature_section .feature_container .box .name {
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Merriweather Sans', sans-serif;
    margin-bottom: 0;
}

.feature_section .feature_container .box:hover,
.feature_section .feature_container .box.active {
    background-color: #5AB2FF;
    color: #0355cc;
}

.feature_section .feature_container .box:hover .img-box svg,
.feature_section .feature_container .box.active .img-box svg {
    fill: #ffffff;
}

.feature_section .feature_container .box:hover .img-box svg path,
.feature_section .feature_container .box.active .img-box svg path {
    fill: #0355cc;
}



.service_section {
    position: relative;
    background-color: #5AB2FF;
    padding-bottom: 26px;
}

.service_section .box {
    margin-top: 30px;
    text-align: center;
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
    padding: 16px;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
}

.service_section .box .img-box {
    width: 65px;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.service_section .box .img-box img {
    height: 56px;
    width: 56px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.service_section .box .detail-box {
    margin-top: 15px;
}

.service_section .box .detail-box h5 {
    font-weight: bold;
}

.service_section .box .detail-box ul {
    list-style-type: circle;
}

.service_section .box .detail-box ul li {
    text-align: start;
}

.service_section .box:hover {
    background-color: #0355cc;
    color: #ffffff !important;
    cursor: pointer;
}

.service_section .box:hover .img-box img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.section_label {
    padding: 16px;
    background-color: #d1e3ff;
    color: #0355cc;
}

.section_label_inverse {
    padding: 16px;
    background-color: #0355cc;
    color: #d1e3ff;
}

.section_label h2,
.section_label_inverse h2 {
    text-transform: capitalize;
    font-weight: bold;
    margin: 0;
}

#btn-wa {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 16px;
}

#btn-top {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 16px;
}

.aboutus {
    padding-top: 32px;
    background-color: #d1e3ff;
}

.aboutus img {
    width: 100%;
}

.aboutus .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.aboutus .img-box img {
    width: 100%;
}

.aboutus .detail-box h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: #0355cc;
}

.aboutus .detail-box p {
    margin-top: 20px;
}


.client_section .box {
    margin: 15px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 25px;
    height: 320px;
    overflow: hidden;
}

.client_section .box .client_id {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.client_section .box .client_id .img-box {
    width: 125px;
    min-width: 125px;
    margin-right: 15px;
}

.client_section .box .client_id .img-box img {
    width: 100%;
    border-radius: 100%;
}

.client_section .box .client_id .client_detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-right: 25px;
}

.client_section .box .client_id .client_detail .client_info h6 {
    margin-bottom: 0;
}

.client_section .box .client_id .client_detail .client_info i {
    color: #fbaf5d;
}

.client_section .box .client_text {
    margin-top: 20px;
}



.contact_info .img-box {
    width: 80px;
    height: 80px;
    background-color: #0355cc;
    color: #CAF4FF;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.contact_info .img-box:hover {
    color: #0355cc;
    background-color: #CAF4FF;
    cursor: pointer;
}











@media (max-width: 992px) {
    .feature_section .feature_container .box {
        padding: 30px 15px;
    }

    .feature_section .feature_container .box .img-box {
        width: 75px;
    }

    .feature_section {
        transform: none;
        padding: 90px 0;
    }
}

@media (max-width: 767px) {
    .feature_section .feature_container {
        flex-direction: column;
    }

    .feature_section .feature_container .box {
        padding: 30px 15px;
    }

    .feature_section .feature_container .box:not(:nth-last-child(1)) {
        margin-bottom: 15px;
    }
}

@media (max-width: 576px) {}

@media (max-width: 480px) {}

@media (max-width: 400px) {}

@media (max-width: 360px) {}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

}